*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.search-continer{
    width: 100%;
    height: 100%;
    background-color: transparent;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-continer .continer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -5%; /* REDUCED from -63% */
}
.search-continer .body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}
.search-continer .searchbar input{
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    height: 3rem;
    padding-left: 25px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    outline: none !important;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 5px 10px gray;
    background-color: beige;
    position: relative;
}
.search-continer .searchbar img{
    object-fit: cover;
    width: 35px;
    height: 35px;
    z-index: 2;
    transform: translateX(-45px) translateY(7px);
}
.search-continer .profile img{
    width: 120px;
    height: 120px;
    transform: translateY(-40px);
}
#pro-img{
    z-index: 3;
}
.search-continer .profile-content{
    width: 250px;
    z-index: 99;
    height: 50vh;
    background-color: azure;
    transform: translateY(-95%);
}
.list {
    position: absolute;
    display: flex;
    flex-wrap: nowrap !important;
    flex: 1 1 auto;
    overflow: hidden;
    max-width: 100%;
    background-color:transparent;
    border: none;
    border-radius: 0 0 10px 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 100%;
    left: 0;
    width: 500px;
}
.list::-webkit-scrollbar{
    scrollbar-width: none;
}
.search-continer .search .list li{
    font-size: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: nowrap !important;
    flex: 1 1 auto;
    z-index: 999;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(8, 6, 6);
    list-style: none;
    overflow-x: hidden;
    margin-left: 13%;
    font-weight: 700;
    padding: 10px 150px;
    margin-top: 1%;
    cursor: pointer;
}